
  .realLink {
    list-style-type: none;
    margin-right: 40px;
  }
  .realLink a {
 color: rgb(58, 57, 57);
  text-decoration: none;
  }

  .realLink a:visited{
    color: rgb(58, 57, 57);
  }